/* ======= IMPORT FONT CHU ===== */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

/* ====================== KHAI BAO BIEN ======================== */
:root {
    --color-bg: #29404a;
    --color-header: #21323b;
    --color-header2: #0dad23;
    --color-bg-main: #fafafa;
    --color-text: #222222;
    --color-text2: #fafafa;
    --color-text-hover: #c8f3f8;
    --color-border: #eee;
    --color-hover: #84BF04;
    --color-active: #0420bf;
    --font-heading: Gelasio, serif;
    --font-family-base: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-button: 'Wix Madefor Display', sans-serif;
}

/* ======================== THIET LAP CAC THUOC TINH CO BAN ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ======================= BODY ========================= */
body {
    max-width: 1200px;
    height: auto;
    font-size: 16px;
    font-family: var(--font-family-base);
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-main);
    line-height: 1.6;
    margin: 0 auto;
}


/* =============== DISCOUNT =============== */
.discount {
    height: 40px;
    background-color: #ef6461;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;

    p {
        color: white;
        text-decoration: none;
        font-weight: 400;
        display: inline-block;
        transition: all 0.3s ease;

        &:hover {
            color: #ffee02;
            text-decoration: none;
        }
    }
}


/* =============== HEADER ================== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
    padding: 5px 30px;


    .header-left .logo img {
        height: 40px;
        width: auto;
        display: block;
    }

    .header-center {
        flex-grow: 1;
        text-align: center;
    }

    .search-box {
        display: flex;
        max-width: 400px;
        margin: 10px auto;
        border: 1px solid var(--color-border);
        border-radius: 5px;
        overflow: hidden;

        input {
            background-color: #eeede8;
            flex-grow: 1;
            border: none;
            padding: 0 15px;
            outline: none;
            font-size: 1em;
        }

        button {
            color: var(--color-text);
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--color-header);
                color: var(--color-text2);
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--color-text2);
        font-size: 1em;
    }

    .contact-info {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--color-text2);
        font-size: 1em;

        a {
            color: var(--color-text2);
            text-decoration: none;
            font-size: 18px;
        }
    }

    .contact-info:hover,
    .contact-info a:hover {
        transform: scale(1.05);
        color: var(--color-hover);
    }


    .social-icons img {
        margin: 0 4px;

        &:hover {
            transform: scale(1.2);
        }
    }

}


/* ================ NAVBAR ================== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    padding: 10px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;


    .navbar-main {
        display: flex;
        gap: 30px;
        justify-content: flex-start;
        flex-grow: 1;
    }

    .navbar-main li a {
        color: var(--color-text2);
        font-size: 1.05em;
        font-weight: 500;
        text-decoration: none;
        padding: 10px 0;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
            color: var(--color-hover);
        }
    }

    .dropdown-arrow {
        font-size: 1.7em;
        transition: transform 0.3s ease;
    }

    .dropdown {
        position: relative;

        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--color-bg-main);
            min-width: 180px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            z-index: 1000;
            padding: 10px 0;

            li {
                display: block;

                a {
                    padding: 10px 20px;
                    color: var(--color-header);
                    font-size: 0.9em;
                    line-height: 0.9em;
                    display: block;
                    white-space: nowrap;

                    &:hover {
                        background-color: var(--color-hover);
                        color: var(--color-header);
                    }
                }
            }
        }
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown:hover .dropdown-arrow {
        transform: rotate(180deg);
    }

    .navbar-right {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-right: 40px;
        color: var(--color-text2);

        .icon-right {
            font-size: 1.2em;
            /* position: relative; */
            transition: color 0.3s ease;

            &:hover {
                color: var(--color-hover);
            }
        }

        .shopping-icon {
            position: relative;

            .cart-count {
                position: absolute;
                background-color: #e44d26;
                color: var(--color-text2);
                font-size: 0.9rem;
                padding: 1px 4px;
                border-radius: 50%;
                top: -6px;
                left: 14px;
            }
        }
    }

    .active {
        color: var(--color-hover) !important;
    }
}


/* ================== CAROUSEL ================== */
.carousel-inner {
    max-width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-caption {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;

        .caption-center {
            line-height: 100%;
            height: 100%;
            text-align: center;

            h5 {
                font-size: clamp(1.5rem, 4vw, 3rem);
                font-weight: 700;
                margin-bottom: 1.5rem;
                color: var(--color-header2);
                font-family: var(--font-button);
                text-align: center;
            }

            p {
                font-size: clamp(1rem, 2.5vw, 2rem);
                font-weight: 400;
                color: var(--color-text);
            }
        }
    }

}

/* ================== MAIN CONTENT ================== */
.product-page-main {
    flex-grow: 1;


    /* ================= Sorting Bar =====================*/
    .sorting-bar {
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 15px 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .sort-options label {
        margin-right: 10px;
        color: #555;
    }

    .sort-options select {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
    }

    /* Product Grid */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .product-card {
        background-color: var(--color-bg-main);
        border: 1px solid #ddd;
        border-radius: 9px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: transform 0.2 ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
    }

    .product-image {
        width: 100%;
        height: 160px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--color-border);

        img {
            width: 95%;
            object-fit: cover;
            display: block;
        }
    }

    .product-info {
        padding: 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-name {
        font-size: 1.1em;
        font-weight: bold;
        color: var(--color-text);
        margin-top: 0;
        margin-bottom: 5px;
        height: 1.6em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-brand,
    .product-category {
        font-size: 0.9em;
        color: #333333;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .brand-name,
    .category.name {
        font-weight: 500px;
        color: var(--color-text);
    }

    .product-star-icon {
        font-size: 15px;
        color: #f3b519;
        font-weight: 500;
    }

    .product-price-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--color-border);
    }

    .product-price {
        font-size: 1.2em;
        font-weight: bold;
        color: #e44d26;
    }

    .add-to-cart {
        width: 40px;
        height: 40px;
        background-color: #005f0d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #029e02;
        }
    }

    /* --- Phân trang (Pagination) --- */
    .pagination {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 30px;
    }

    .pagination a {
        color: #555;
        padding: 8px 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .pagination a.active {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
}

/* ============================== FOOTER ========================= */

.footer {
    background-color: var(--color-bg);
    color: #fff;
    font-size: 0.9em;
    padding: 20px 20px;


    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    }

    .footer-column {
        flex: 1 1 220px;
        margin: 20px;
        padding: 5px;
    }

    .footer-column h3 {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 1.2em;
        font-family: var(--font-heading);
        text-transform: uppercase;
    }

    .footer-column p {
        margin-bottom: 5px;
    }

    .footer-column ul {
        list-style: none;

        li {
            margin-bottom: 10px;

            a {
                color: #fff;
                text-decoration: none;
                padding: 8px;
                border-radius: 3px;

                &:hover {
                    background-color: var(--color-header2);
                    color: var(--color-text2);

                }
            }
        }
    }

    .social-icons a {
        width: 50px;
        margin-top: 20px;
    }

    .payment-icons {
        margin-bottom: 30px;

        img {
            width: 100px;
            height: 40px;
            margin: 6px;
            border-radius: 6px;
            background-color: #fff;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            object-fit: contain;
        }
    }


    .social-icons {
        text-align: start;

        img {
            width: 40px;
            margin-right: 20px;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

}


/* =========== COPY RIGHT ============= */
.copy-right {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    font-size: 14px;
    color: #777;


    a {
        color: var(--color-active);
        text-decoration: none;
    }
}

/* =========== NUT CUON TRANG ============= */
#back-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 100;
    width: 60px;
    height: 60px;
    background-color: var(--color-header2);
    border: 1px solid var(--color-header2);
    color: white;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-active);
        border: 1px solid var(--color-active);

    }
}


/* =========== CHATBOX ============= */
/* KHUNG CHUA */
#chat-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;


    /* THANH NGANG */
    #chat-tab {
        background-color: var(--color-bg);
        color: white;
        padding: 12px 15px;
        margin-left: 20px;
        border-radius: 8px 8px 0 0;
        cursor: pointer;
        font-weight: bold;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

        i {
            margin-right: 10px;
        }
    }

    /* CUA SO CHAT */
    #chat-window {
        display: none;
        flex-direction: column;
        width: 300px;
        height: 400px;
        background-color: var(--color-text2x);
        border: 1px solid #ccc;
        overflow: hidden;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        margin-left: 20px;
    }

    /* CONTENT */
    #chat-body {
        flex: 1;
        padding: 10px;
        overflow-y: auto;
        background: var(--color-text2);
    }

    /* INPUT */
    #chat-input {
        border: none;
        border-top: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border: none;
            border-top: 3px solid var(--color-bg);
        }
    }

    .chat-message {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .chat-message.bot {
        text-align: left;
        color: var(--color-text);
    }
}