/* import font chu */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

/* Khai bao bien */
:root {
    --color-bg: #29404a;
    --color-header: #21323b;
    --color-header2: #0dad23;
    --color-bg-main: #fafafa;
    --color-text: #222222;
    --color-text2: #fafafa;
    --color-text-hover: #c8f3f8;
    --color-border: #eee;
    --color-hover: #84bf04;
    --color-active: #0420bf;
    --font-heading: Gelasio, serif;
    --font-family-base: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    --font-button: "Wix Madefor Display", sans-serif;
}

/* =========================== MAIN ========================= */
.main {
    background-image: linear-gradient(200deg, #426375, #29404a);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    height: 100vh;
    position: relative;
    margin: 50px auto;
}

.form {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 30px;
    box-shadow: 0 50px 150px #5553;
    position: absolute;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px 30px;
}

.form .title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-header);
}

.form .des {
    margin-bottom: 20px;
}

.form .group {
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .group input {
    width: 100%;
    height: 100%;
    color: #222;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}

.form .group span {
    color: #777;
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.form .group span ion-icon:nth-child(2) {
    display: none;
}

.form .group span.show ion-icon:nth-child(2) {
    display: block;
}

.form .group span.show ion-icon:nth-child(1) {
    display: none;
}

.form .recovery {
    text-align: right;
    margin-bottom: 20px;
    font-size: small;
}

.form .recovery a {
    text-decoration: none;
    color: rgb(41, 32, 175);
}

.form .signIn button {
    background-color: var(--color-bg);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    box-shadow: 0 2px 10px var(--color-header);
    margin-bottom: 40px;
    transition: 0.5s;
}

.form .signIn button:active {
    transform: translateY(5px);
    box-shadow: none;
}

.form .or {
    font-size: small;
    margin-bottom: 20px;
    position: relative;
}

.form .or::before,
.form .or::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-image: linear-gradient(to left, #444, transparent);
    top: 50%;
    left: -20px;
}

.form .or::after {
    left: unset;
    right: -20px;
    transform: rotateY(180deg);
}

.form .list img {
    width: 30px;
}

.form .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px;
    column-gap: 20px;
    margin-bottom: 30px;
}

.form .list .item {
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .register {
    font-size: small;
}

.form .register a {
    text-decoration: none;
    color: rgb(41, 32, 175);
}


/* ==================== */
.form.login .content:nth-child(1) {
    z-index: 1;
    animation: nextContent 1s ease-in-out 1 forwards;
}

.form.login .content:nth-child(2) {
    z-index: 1;
    animation: outContent 1s ease-in-out 1 forwards;
}

@keyframes nextContent {
    from {
        transform: translate(100%, 0px);
    }

    to {
        transform: translate(0, 0px);
    }
}

@keyframes outContent {
    from {
        transform: translate(0, 0px);
    }

    to {
        transform: translate(-100%, 0px);
    }
}


/* ==================== */
.form.register .content:nth-child(2) {
    z-index: 1;
    animation: nextContent 1s ease-in-out 1 forwards;
}

.form.register .content:nth-child(1) {
    z-index: 1;
    animation: outContent 1s ease-in-out 1 forwards;
}

@keyframes nextContent {
    from {
        transform: translate(100%, 0px);
    }

    to {
        transform: translate(0, 0px);
    }
}

@keyframes outContent {
    from {
        transform: translate(0, 0px);
    }

    to {
        transform: translate(-100%, 0px);
    }
}