/* =========================================================
                            DISCOUNT 
============================================================ */
@media (max-width: 768px) {
  .offer p {
    font-size: 0.8em;
    line-height: 1.34;
  }
}

/* =========================================================
                            HEADER 
============================================================ */
@media (max-width: 992px) {
  .header .header-right {
    display: none;
  }

  .header {
    height: 77px;
    display: flex;
    justify-content: space-between;
  }

  .header .header-center {
    flex-grow: 0;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 60px;
  }

  .header-left {
    margin-left: -7px;
  }

  .header-left .logo img {
    height: 25px;
    width: auto;
    display: block;
  }

  .search-box {
    margin-right: -20px;
  }

  .search-box button {
    padding: 5px 10px;
  }

  .header-btn {
    display: none;
  }
}

/* =========================================================
                            NAGAVITION 
============================================================ */
@media (min-width: 992px) {
  .mobile-header,
  .menu-drawer,
  .menu-overlay {
    display: none;
  }
}

.mobile-navbar {
  display: none;
}

@media (max-width: 991.8px) {
  .navbar {
    top: 60px;
  }

  .mobile-navbar {
    display: flex;
    margin-left: -30px;
    align-items: center;
    height: 31px;
    z-index: 9999;
  }

  .navbar-right {
    margin-right: -20px;
  }

  /* 1. An thanh menu */
  .navbar .navbar-main {
    display: none;
  }

  /* 2. Tao icon menu */
  .icon-menu {
    color: #fff;
    width: 3.4rem;
    cursor: pointer;

    &:hover {
      color: #84bf04;
    }
  }

  /* 3. Tao lop phu mo khi mo icon menu */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }

  /* 4. Kiem tra checkbox neu duoc tich thi hien overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 5. Code cho phan drawer */
  .menu-drawer {
    position: fixed;
    background-color: #29404a;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    max-width: 320px;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  /* 6. Kiem tra checkbox neu duoc tich thi hien menu drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* 7. Menu top */
  .navbar-drawer-top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close__menu {
    width: 35px;
    color: #fff;
    cursor: pointer;
  }

  .close__menu:hover,
  .close__menu:active {
    color: #84bf04;
  }

  .drawer_img img {
    width: 50%;
    object-fit: cover;
    overflow: hidden;
  }

  /* 8. Menu list */

  .menu-drawer .menu-list {
    padding: 0 20px;
  }

  .menu-drawer .menu-list li {
    margin-bottom: -25px;
  }

  .menu-drawer .menu-list a:hover,
  .menu-drawer .menu-list a:active {
    color: #84bf04;
  }

  .menu-drawer .navbar-main {
    display: flex;
    flex-direction: column;
  }
}

/* =========================================================
                            SLIDER 
============================================================ */
@media (max-width: 768px) {
  .carousel-inner .carousel-caption .caption-center h5 {
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  .carousel-inner .carousel-caption .caption-center p {
    font-size: 1.8rem;
    line-height: 0.88;
  }
}

/* =========================================================
                            PRODUCT 
============================================================ */
@media (max-width: 992px) {
  .product-grid,
  .product1-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    /* padding: 10px; */
  }

  .product-card {
    margin: 0 auto;
    max-width: 300px;
  }

  .product-price-cart {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .add-to-cart {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .product-grid,
  .product1-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (max-width: 576px) {
  .product-grid,
  .product1-grid {
    grid-template-columns: 1fr;
    padding: 0 10px 0 10px;
    justify-content: center;
  }
}

/* =========================================================
                            WHY US USER 
============================================================ */
@media (max-width: 768px) {
  .why-us-section {
    padding: 30px 15px;

    .why-us-grid {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 10px;
    }
  }

  .why-us-card {
    padding: 20px;
    min-height: auto;
  }

  .why-us-card h3 {
    font-size: 1rem;
  }

  .why-us-card p {
    min-height: 200px;
    font-size: 1.2rem;
  }

  .why-us-card.mission-card {
    padding: 25px;
  }

  .why-us-card.mission-card .card-content {
    max-width: 100%;
  }

  .product-card-2,
  .product-card-3 {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media (max-width: 576px) {
}

/* =========================================================
                            FOOTER 
============================================================ */

/* =========================================================
                            COPYRIGHT 
============================================================ */
@media (max-width: 576px) {
  .copy-right p {
    font-size: 1rem;
  }
}
