/* import font chu */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

/* Khai bao bien */
:root {
  --color-bg: #29404a;
  --color-header: #21323b;
  --color-header2: #0dad23;
  --color-bg-main: #fafafa;
  --color-text: #222222;
  --color-text2: #fafafa;
  --color-text-hover: #c8f3f8;
  --color-border: #eee;
  --color-hover: #84bf04;
  --color-active: #0420bf;
  --font-heading: Gelasio, serif;
  --font-family-base: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  --font-button: "Wix Madefor Display", sans-serif;
}

/* Thiet lap cac thuoc tinh co ban */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: rgb(241, 241, 241);
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-base);
  background-color: var(--color-bg-main);
  line-height: 1.6;
}

.outer {
  margin: 0 auto;
  position: relative;
}

/* =============== OFFER =============== */
.offer {
  height: 40px;
  background-color: #ef6461;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;

  a {
    overflow: hidden;
  }

  p {
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    transition: all 0.3s ease;

    &:hover {
      color: #ffee02;
      text-decoration: none;
    }
  }
}

/* =============== HEADER ================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  padding: 5px 30px;
  z-index: 100;
}

.header-left .logo img {
  height: 40px;
  width: auto;
  display: block;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.search-box {
  display: flex;
  max-width: 400px;
  margin: 10px auto;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  overflow: hidden;

  input {
    background-color: #eeede8;
    flex-grow: 1;
    border: none;
    padding: 0 15px;
    outline: none;
    font-size: 1em;
  }

  button {
    color: var(--color-text);
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      outline: none;
      border: none;
      background-color: var(--color-header);
      color: var(--color-text2);
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--color-text2);
  font-size: 1em;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text2);

  a {
    color: var(--color-text2);
    text-decoration: none;
    font-size: 1.6rem;
  }
}

.contact-info:hover,
.contact-info a:hover {
  transform: scale(1.05);
  color: var(--color-hover);
}

.social-icons img {
  border-radius: 5px;
  margin: 0 4px;

  &:hover {
    transform: scale(1.2);
  }
}

/* ================ NAVBAR ================== */
#navbar-placeholder {
  display: contents;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  padding: 10px 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-main {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  flex-grow: 1;
}

.navbar-main li a {
  color: var(--color-text2);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    color: var(--color-hover);
  }
}

.dropdown-arrow {
  font-size: 1.6rem;
  transition: transform 0.3s ease;
}

.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-bg-main);
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    padding: 10px 0;

    li {
      display: block;

      a {
        padding: 10px 20px;
        color: var(--color-header);
        font-size: 1.6rem;
        line-height: 1.6rem;
        display: block;
        white-space: nowrap;

        &:hover {
          background-color: var(--color-hover);
          color: var(--color-header);
        }
      }
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--color-text2);

  .icon-right {
    font-size: 1.2em;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-hover);
    }
  }

  .shopping-icon {
    position: relative;

    .cart-count {
      position: absolute;
      background-color: #e44d26;
      color: var(--color-text2);
      font-size: 0.9rem;
      padding: 1px 4px;
      border-radius: 50%;
      top: -6px;
      left: 14px;
    }
  }
}

.active {
  color: var(--color-hover) !important;
}

/* ================== CAROUSEL ================== */
.carousel-inner {
  max-width: 100%;
  height: 600px;
  position: relative;

  .carousel-item {
    height: 600px;
    overflow: hidden;

    .w-100 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-caption {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;

    .caption-center {
      line-height: 100%;
      height: 100%;
      text-align: center;

      h5 {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 3rem;
        color: #086e16;
        font-family: var(--font-button);
        text-align: center;
      }

      p {
        font-size: clamp(2rem, 4.5vw, 4rem);
        font-weight: 400;
        color: var(--color-text);
      }
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 100% 100%;
    position: absolute;
    bottom: 120px;
    background-color: #029e02;
    fill: #0420bf;
  }
}

/* ========================= FOOTER ======================= */
.footer {
  background-color: var(--color-bg);
  color: #fff;
  font-size: 0.9em;
  padding: 20px 20px;

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }

  .footer-column {
    flex: 1 1 220px;
    margin: 20px;
    padding: 5px;
  }

  .footer-column h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.2em;
    font-family: var(--font-heading);
    text-transform: uppercase;
  }

  .footer-column p {
    margin-bottom: 5px;
  }

  .footer-column ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      a {
        color: #fff;
        text-decoration: none;
        padding: 8px;
        border-radius: 3px;

        &:hover {
          background-color: var(--color-header2);
          color: var(--color-text2);
        }
      }
    }
  }

  .social-icons a {
    width: 50px;
    margin-top: 20px;
  }

  .social-icons a img {
    border-radius: 5px;
  }

  .payment-icons {
    margin-bottom: 30px;

    img {
      width: 100px;
      height: 40px;
      margin: 6px;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      object-fit: contain;
    }
  }

  .social-icons {
    text-align: start;

    img {
      width: 40px;
      margin-right: 20px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

/* =========== COPYRIGHT ============= */
.copy-right {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;

  a {
    color: var(--color-active);
    text-decoration: none;
  }
}

/* =========== NUT CUON TRANG ============= */
#back-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 100;
  width: 50px;
  height: 50px;
  background-color: var(--color-header2);
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 2.2rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: #087016;
  }
}

/* =========== CHATBOX ============= */
/* KHUNG CHUA */
#chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;

  /* THANH NGANG */
  #chat-tab {
    background-color: var(--color-bg);
    color: white;
    padding: 12px 15px;
    margin-left: 20px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    i {
      margin-right: 10px;
    }
  }

  /* CUA SO CHAT */
  #chat-window {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: var(--color-text2x);
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
  }

  /* CONTENT */
  #chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: var(--color-text2);
  }

  /* INPUT */
  #chat-input {
    border: none;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: none;
      border-top: 3px solid var(--color-bg);
    }
  }

  .chat-message {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .chat-message.bot {
    text-align: left;
    color: var(--color-text);
  }
}
