/* import font chu */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

/* Khai bao bien */
:root {
  --color-bg: #29404a;
  --color-header: #21323b;
  --color-header2: #0dad23;
  --color-bg-main: #fafafa;
  --color-text: #222222;
  --color-text2: #fafafa;
  --color-text-hover: #c8f3f8;
  --color-border: #eee;
  --color-hover: #84bf04;
  --color-active: #0420bf;
  --font-heading: Gelasio, serif;
  --font-family-base: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  --font-button: "Wix Madefor Display", sans-serif;
}

/* Thiet lap cac thuoc tinh co ban */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* ========================= MAIN =========================== */

/* RAU CU QUA TUOI NGON */
h2.title-product {
  margin: 80px 0 20px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 6rem;
  color: var(--color-bg);
  position: relative;
  font-family: var(--font-heading);
  background-color: rgba(0, 0, 0, 0.1);
}

.product-grid,
.product1-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;

  .product-card {
    background-color: var(--color-bg-main);
    border: 1px solid #ddd;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2 ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }

  .product-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-border);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .product-info {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-text);
    margin-top: 2px;
    margin-bottom: 5px;
    height: 2.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-brand,
  .product-category {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
  }

  .brand-name,
  .category.name {
    font-weight: 500px;
    color: var(--color-text);
  }

  .product-star-icon {
    font-size: 12px;
    color: #f3b519;

    .rating {
      font-size: 16px;
      color: #f3b519;
      font-weight: 500;
      font-family: var(--font-button);
      padding-left: 5px;
    }
  }

  .product-price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid var(--color-border);
  }

  .product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #e44d26;
  }

  .add-to-cart {
    background-color: #005f0d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #029e02;
    }

    i {
      font-size: 1.2em;
    }
  }
}

/*  ==================== XEM THEM ================= */
.see-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-bg);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background-color: var(--color-header2);
  }
}

/* =============== WHY US SELECTER ============ */
.why-us-section {
  padding: 50px 20px;
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../IMG/hoa-tiet-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 1;
  }

  .why-us-title {
    text-align: center;
    margin-bottom: 30px;

    h3 {
      font-size: 4.5rem;
      font-weight: bold;
      color: var(--color-header2);
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        display: block;
        width: 350px;
        height: 4px;
        background-color: var(--color-header2);
        margin: 5px auto 0;
      }
    }
  }

  .why-us-card.mission-card {
    background-color: var(--color-bg);
    color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .why-us-card.mission-card .card-content {
    max-width: 800px;
    margin: 0 auto;

    h3 {
      font-size: 4.5rem;
      font-family: var(--font-heading);
      margin-top: 0;
      margin-bottom: 10px;
      z-index: 2;
    }

    p {
      font-size: 1em;
      line-height: 1.6;
      margin-bottom: 20px;
      text-overflow: ellipsis;
      z-index: 2;
    }
  }

  .why-us-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .why-us-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #fff;
    position: relative;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
  }

  .why-us-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .why-us-card .card-content {
    position: relative;
    z-index: 10;
  }

  .why-us-card h3 {
    font-size: 3.2rem;
    font-family: var(--font-heading);
    margin-top: 0;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .why-us-card p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .card-button {
    text-decoration: none;
    background-color: white;
    color: var(--color-header);
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;

    &:hover {
      background-color: var(--color-header);
      color: #fff;
    }
  }

  .mission-card {
    h3 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  .product-card-2,
  .product-card-3 {
    p {
      height: 200px;
      overflow: hidden;
    }
  }
}

/* ================ ANIMATION LOADING ============ */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-350px);
  }
}