/* import font chu */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

/* Khai bao bien */
:root {
    --color-bg: #29404a;
    --color-header: #21323b;
    --color-header2: #0dad23;
    --color-bg-main: #fafafa;
    --color-text: #222222;
    --color-text2: #fafafa;
    --color-text-hover: #c8f3f8;
    --color-border: #eee;
    --color-hover: #84bf04;
    --color-active: #0420bf;
    --font-heading: Gelasio, serif;
    --font-family-base: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    --font-button: "Wix Madefor Display", sans-serif;
}

/* =========================== MAIN ========================== */
.product-page-main {
    display: flex;
    gap: 30px;
    /* max-width: 1200px; */
    margin: 30px auto;
    padding: 0 20px;
}

/* ============== SIDEBAR =============== */
.sidebar {
    border: 1px solid #007bff;
    flex: 0 0 10%;
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    font-size: 1em;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 8px;
}

.filter-group {
    margin-bottom: 25px;
}

.category-list {
    margin-bottom: 25px;

    li {
        margin-bottom: 10px;
    }

    a {
        color: var(--color-text2);
        transition: color 0.3s ease;

        &:hover {
            color: var(--color-hover);
            font-weight: bold;
        }
    }
}

.filter-group h4 {
    font-size: 1.1em;
    color: var(--color-text2);
    margin-bottom: 10px;
}

.price-range {
    display: flex;
    align-items: center;
    gap: 5px;

    input {
        width: 70px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        padding: 6px 12px;
        border: none;
        background-color: var(--color-active);
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
}

.checkbox-list label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}


/* =============== SORTING BAR ================ */
.sorting-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);


    .sort-options label {
        margin-right: 10px;
        color: #555;
    }

    .sort-options select {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
    }
}


/* ================ SAN PHAM ================ */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #ddd;
        border-radius: 9px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2 ease-in-out, box-shadow 0.2s ease-in-out;
        overflow: hidden;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            cursor: pointer;

        }
    }

    .product-image {
        width: 100%;
        height: 180px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--color-border);

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .product-info {
        padding: 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-name {
        font-size: 1.1em;
        font-weight: bold;
        color: var(--color-text);
        margin-top: 0;
        line-height: 1.6em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
    }

    .product-brand,
    .product-category {
        font-size: 0.9em;
        color: #666;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
    }

    .brand-name,
    .category-name {
        padding-left: 8px;
        font-weight: 500px;
        color: var(--color-text);
    }

    .product-star-icon {
        font-size: 12px;
        color: #f3b519;

        .rating {
            font-size: 16px;
            color: #f3b519;
            font-weight: 500;
            font-family: var(--font-button);
            padding-left: 5px;
        }
    }

    .product-price-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid var(--color-border);

    }

    .product-price {
        font-size: 1.2em;
        font-weight: bold;
        color: #e44d26;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* flex-shrink: 0; */

    }

    .add-to-cart {
        background-color: #005f0d;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 10px;
        cursor: pointer;
        font-size: 1em;
        display: flex;
        align-items: center;
        /* gap: 8px; */
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #029e02;
        }

    }

}

/* =========== PHAN TRANG ============= */
#pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;

    a {
        color: #555;
        padding: 8px 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    a.active {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
    }

    a:hover:not(.active) {
        background-color: #ddd;
    }
}


/* =================================================================
                                RESPONSIVE
====================================================================*/
@media (min-width: 993px) {
    .product-image img {
        height: 100%;
    }
}



@media (max-width: 992px) {
    .sidebar {
        display: none;
    }

    .product-page-main {
        display: flex;
        justify-content: center;
        gap: 0;
        flex-wrap: wrap;
    }

    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .product-page-main {
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }

}

@media (max-width: 576px) {
    .sorting-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .product-grid {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .product-page-main {
        display: flex;
        justify-content: center;
    }
}